.transactionHistory {
  width: 600px;
  margin: 30px auto 0 auto;
  text-align: center;
  border-collapse: collapse;
  border-radius: 5px;
  margin-bottom: 50px;
  overflow: hidden;
}

.head {
  background-color: #5fbff9;
  color: azure;
  height: 40px;
}

.headItem:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid #c8cccf;
}

.transactionRow {
  height: 30px;
  color: #6d7071;
  font-size: 12px;
}

.transactionRow:nth-child(even) {
  background-color: #d9e0e4;
}

.transactionRow:nth-child(odd) {
  background-color: #f7fafb;
}
